.homepage {
    padding: 8rem 6rem;
    height: 100vh;
    &__title{
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 5rem;
    }
    &__cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
}